In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Manipulando data

In [4]:
pd?

In [6]:
df = pd.DataFrame({"dummy":[1,2,3,4],
                  "value": [1, 2, 3, 3]})

In [7]:
df.head()

   dummy  value
0      1      1
1      2      2
2      3      3
3      4      3

In [8]:
df.shape

(4, 2)

In [9]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
df.dtypes #.value_conts()

dummy    int64
value    int64
dtype: object

In [13]:
df.isnull().sum()

dummy    0
value    0
dtype: int64

In [14]:
df.columns

Index(['dummy', 'value'], dtype='object')

In [16]:
df.drop("dummy", axis=1)

   value
0      1
1      2
2      3
3      3

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dummy   4 non-null      int64
 1   value   4 non-null      int64
dtypes: int64(2)
memory usage: 192.0 bytes

In [21]:
# df.pivot
# df.melt

In [22]:
df.describe()

          dummy     value
count  4.000000  4.000000
mean   2.500000  2.250000
std    1.290994  0.957427
min    1.000000  1.000000
25%    1.750000  1.750000
50%    2.500000  2.500000
75%    3.250000  3.000000
max    4.000000  3.000000

In [23]:
df.mode()

   dummy  value
0      1    3.0
1      2    NaN
2      3    NaN
3      4    NaN

In [25]:
df.nunique()

dummy    4
value    3
dtype: int64

In [28]:
#df.value_counts()

In [29]:
#df.groupby("site")["acessos"].sum()

In [30]:
#df.groupby("site").agg({"site":"unique",
#                         "acesso":"sum"})

In [31]:
df.corr()

         dummy    value
dummy  1.00000  0.94388
value  0.94388  1.00000

In [34]:
df['cut'] = pd.cut(df["value"], bins=(0,2,4), labels=("0-2", "3-4"))
df.head()

   dummy  value  cut
0      1      1  0-2
1      2      2  0-2
2      3      3  3-4
3      4      3  3-4

# Imputação de dados

In [1]:
# Dados numéricos -> Média ou mediana
#fillna(df["age"].mean())

# Dados categoricos: Unkown ou moda
#Fillna("Unknown")

In [5]:
import pandas as pd
df = pd.read_clipboard(na_values=[None])
df.head()

                  CTQ        "SOP 009700
Revision 04"      704           ±     5%
CTQ      "SOP  009700         NaN    NaN
Revision 04"     1.50           ±     5%
STD      "SOP  009700         NaN    NaN
Revision 04"     Data  collection      -

In [6]:
#abalone.to_json('df.json.gz', orient='records',
#                lines=True, compression='gzip')

In [7]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!